<h1>THis is our cats page!</h1>

<li><%= @name %></li>
<li><%= @does_not_exist %></li>
<li><%= @age %></li>
<li><%= @array_of_things %></li>

<% @all_cats.each do |cat| %>
    <li><%=cat.name %> age: <%= cat.age %> </li>
<% end %>