<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="<%= 'radius' %>">my memes</h1>
    <% for (let key in memes) { %>
        <li>
            <%= key %>
            <img style="object-fit: cover; width: 200px;" src="<%= memes[key] %>" />
            <a href="/memes/<%= key %>">Go To specific page</a>
            <form method="POST" action="/memes/<%= key %>/delete">
                <button>DELETE</button>
            </form>
        </li>
    <% } %>
</body>
</html>