<h1>Specific Car<h1/>
<div class="car">
    <h3 class="description"><%= @car.description %></h3>
    <p class="details">
        <strong>Make:</strong> <%= @car.make.make %> |
        <strong>Model:</strong> <%= @car.model.model %> |
        <strong>Trim:</strong> <%= @car.trim.trim_level %> |
        <strong>Style:</strong> <%= @car.style.body_style %> |
        <strong>Year:</strong> <%= @car.year %>
        <strong>Colour:</strong> <%= @car.color %>
    </p>
</div>