<%- include('partials/_header') -%>
<body>
	<%- include('partials/_nav')-%>
	<ul>
	<% for (let department of result) { %>
		<li><%= department.id %> --  <%= department.name %></li>
	<% }%>
	</ul>
</body>
<%- include('partials/_footer') -%>