<h1>All My Cars!</h1>

<div class="search-form" id="search-form">
  <%= form_tag({controller: :cars, action: :index}, method: :get) do %>

    <div class="form-component">
      <%= label_tag(:make, 'Make ') %>
      <%= select_tag(:make,
                     options_from_collection_for_select(Make.all, :id, :make),
                     include_blank: true) %>
    </div>

        <div class="form-component">
      <%= label_tag(:model, 'Model ') %>
      <%= select_tag(:model,
                     options_from_collection_for_select(Model.all, :id, :model),
                     include_blank: true) %>
    </div>

    <div class="form-component">
      <%= label_tag(:style, 'Style ') %>
      <%= select_tag(:style,
                     options_from_collection_for_select(Style.all, :id, :body_style),
                     include_blank: true, id: 'bicycle-style') %>

    </div>

    <div class="form-component">
      <%= label_tag(:trim, 'Trim ') %>
      <%= select_tag(:trim,
                     options_from_collection_for_select(Trim.all, :id, :trim_level),
                     include_blank: true) %>
    </div>

    <div class="form-component">
      <%= label_tag(:year, 'Year ') %>
      <%= number_field_tag(:year, nil, min: 1950, max: 2019) %>
    </div>


    <div class="form-component">
      <%= submit_tag('Search!') %>
    </div>
  <% end %>
</div>

<section class="car-list" id="car-list">
  <% @cars.each do |car| %>
    <div class="car">
      <p class="details">
        <strong>Make:</strong> <%= car.make.make %> |
        <strong>Model:</strong> <%= car.model.model %> |
        <strong>Trim:</strong> <%= car.trim.trim_level %> |
        <strong>Style:</strong> <%= car.style.body_style %> |
        <strong>Year:</strong> <%= car.year %>
        <strong>Color:</strong> <%= car.color %>
        <a class="more-info-link" href="<%= car_path(car) %>">More Info </a>
      </p>
    </div>
  <% end %>
</section>