<div style="text-align: center;">
    <h1>Specific Car</h1>
    <p>Make:</strong> <%= @car.make.make %></p> 
    <p>Model:</strong> <%= @car.model.model %></p> 
    <p>Trim:</strong> <%= @car.trim.trim_level %></p> 
    <p>Style:</strong> <%= @car.style.body_style %></p> 
    <p>Year:</strong> <%= @car.year %></p>
    <p>Color:</strong> <%= @car.color %></p>
</div>