<h2>Specific Car Summary</h2>
<div class="car">
<p class="details">
  <strong>Make:</strong> <%= @car.make.make %> |
  <strong>Model:</strong> <%= @car.model.model %> |
  <strong>Trim:</strong> <%= @car.trim.trim_level %> |
  <strong>Style:</strong> <%= @car.style.body_style %> |
  <strong>Year:</strong> <%= @car.year %>
  <strong>Color:</strong> <%= @car.color %>
</p>
</div>